.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sub-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.item {
  min-width: 70px;
  padding: 5px;
  background-color: lightcoral;
  width: 30%;
}
/* Jag gör denna ändring för att testa git push*/
